@model Library_Management_System_MVC.viewModel.viewLandingPage

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<style>
    .selectBook:hover {
        cursor: pointer;
        background-color: #245884;
    }
</style>
<div class="container">
    <div class="row">
        <p></p>
        @{
            foreach (var kvpair in Model.Dict)
            {
                <p></p>
                if (kvpair.Key == "%[a-z]%")
                {
                    <h1>Top books:</h1>
                }
                else
                {
                    <h1>@kvpair.Key:</h1>
                }
                <p></p>
                <div class="row img-rounded bg-info h-100" style="display:flex;">
                    @{ foreach (var item in kvpair.Value)
                        {
                            <div class="col-lg-2 img-rounded bg-primary selectBook" style="margin: 6px 6px 6px 6px" onclick="location.href='@Url.Action("aboutBook", "landingPage", new { id = item.id })'">
                                <p><strong>Book: </strong>@item.bookTitle</p>
                                <p><strong>Rating: </strong>@item.rating</p>
                                @if (kvpair.Key == "%[a-z]%")
                                {
                                    <p><strong>Genre: </strong>@item.genre</p>
                                }
                            </div>
                        }
                    }
                </div>
            }
        }
    </div>
</div>
